<h1>{{title}} </h1>

{{!-- <form action="/signin" method="get">
    <input type="email" name="emailInt" id="" placeholder="Email add"><br>
    <input type="password" name="pass" id="" placeholder="password"><br>
    <button type="submit">submit</button>
</form> --}}

<form action="/signin" method="post">
    <input type="email" name="emailInt" id="" placeholder="Email add"><br>
    <input type="password" name="pass" id="" placeholder="password"><br>
    <button type="submit">submit</button>
</form>